/* Модальное окно */
.modal {
  position: fixed;
  inset: 0;
  z-index: 200;
  @include box(100%);
  min-block-size: 100vh;

  display: flex;
  padding: 0.25em;

  backdrop-filter: blur(18px);
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition:
    visibility 0s 0.35s,
    opacity 0.35s;

  &__container {
    position: relative;
    background-color: #fff;
    border-radius: 25px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include media(sm) {
      margin: auto;
    }
  }

  &__close-button {
    position: absolute;
    z-index: 1;
    inset: 1em 1em auto auto;
    @include box(2em);
  }

  &__title {
    flex: none;
    font-size: 1.5em;
    font-variation-settings: 'wght' 800;
  }

  &--opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition:
      visibility 0s,
      opacity 0.35s;
  }

  @supports (min-block-size: 100dvb) {
    min-block-size: 100dvb;
  }

  @include media(sm) {
    padding: 1em;
  }
}
