.button {
  @extend %reset-btn;
  display: inline-block;
  text-decoration: unset;
  text-align: center;
  font-size: inherit;
  font-variation-settings: 'wght' 500;
  padding: 1em 0.625rem;
  transition:
    background-color 0.35s,
    color 0.35s,
    transform 0.15s;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--text-color, #272b37);
  }

  &:active {
    transform: scale(0.95);
  }

  &__text {
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    @include box(1.25em);
    vertical-align: middle;
  }

  &--theme-main {
    background-color: var(--main-color, #e22b36);
    color: var(--text-accent-color, #ffffff);
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      background-color: var(--main-color-hover, #c11a24);
    }
  }

  &--theme-light-secondary {
    background-color: var(--bg-secondary-color, #f3f4f6);
    color: var(--secondary-color, #4674ff);
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      background-color: var(--bg-tetriary-color, #d9d9d9);
    }
  }

  &--theme-grey {
    background-color: var(--bg-tetriary-color, #d9d9d9);
    color: var(--text-accent-color, #ffffff);
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      background-color: var(--grey-300, #a7aab4);
    }
  }

  &--theme-light-grey {
    background-color: var(--bg-secondary-color, #f3f4f6);
    color: var(--text-color, #272b37);
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      background-color: var(--bg-tetriary-color, #d9d9d9);
    }
  }

  &--theme-main-text {
    color: var(--main-color, #e22b36);
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      color: var(--main-color-hover, #c11a24);
    }
  }

  &--theme-outline {
    border: 1px solid var(--bg-tetriary-color, #d9d9d9);
    color: var(--text-lower-color, #a7aab4);
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      color: var(--text-low-color, #595d69);
    }
  }

  &--size-xs {
    font-size: 0.875em;
    padding: 0.625em;
    font-variation-settings: 'wght' 400;
  }

  &--size-sm {
    font-size: 0.875em;
    padding-block: 0.625em;
    font-variation-settings: 'wght' 800;
  }

  &--size-lg {
    font-size: 1.25em;
    padding-block: 0.75em;
    @include media(xl) {
      font-size: 1.875em;
      padding: 1rem 0.625rem;
    }
  }
}
