.button {
  @extend %reset-btn;
  display: inline-block;
  text-decoration: unset;
  text-align: center;
  font-size: inherit;
  font-variation-settings: 'wght' 500;
  padding: 1em 0.625rem;
  transition:
    color 0.35s,
    transform 0.15s;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--text-color, #272b37);
  }

  &:active {
    transform: scale(0.95);
  }

  &__text {
    vertical-align: middle;
  }

  &--theme-main {
    background-color: var(--main-color, #e22b36);
    color: #fff;
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      background-color: var(--main-color-hover, #c11a24);
    }
  }

  &--theme-grey {
    background-color: var(--grey-200, #c2c5cb);
    color: #fff;
    border-radius: var(--box-radius, 12px);
    inline-size: 100%;

    &:hover {
      background-color: var(--grey-300, #a7aab4);
    }
  }

  &--size-sm {
    font-size: 0.875em;
    padding-block: 0.625em;
    font-variation-settings: 'wght' 800;
  }

  &--size-lg {
    font-size: 1.25em;
    padding-block: 0.75em;
    @include media(xl) {
      font-size: 1.875em;
      padding: 1rem 0.625rem;
    }
  }
}
