.page {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.25em;
  gap: 0.25em;
  background-color: var(--bg-secondary-color, #dedfe3);

  // &__header {}

  &__content {
    display: flex;
  }

  &__heading {
    font-size: var(--display-font, 2.5em);
    font-variation-settings: 'wght' 800;
    &--place-auth {
      text-transform: uppercase;
      margin-block-end: min(10%, 4rem);
    }
  }

  @include media(lg) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    padding: 1em;
    gap: 1em;
  }
}
