.page {
  &__content {
  }

  &__heading {
    font-size: var(--display-font-size, 2.5em);
    font-variation-settings: 'wght' 800;
    &--place-auth {
      text-transform: uppercase;
      margin-block-end: 4rem;
    }
  }
}
