.page {
  min-block-size: 100vh;
  display: flex;
  gap: 1em;
  background-color: var(--bg-secondary-color, #dedfe3);

  &__header {
    flex: none;
  }

  &__content {
    flex: auto;
    display: flex;
  }

  &__heading {
    font-size: var(--display-font, 2.5em);
    font-variation-settings: 'wght' 800;
    &--place-auth {
      text-transform: uppercase;
      margin-block-end: min(10%, 4rem);
    }
  }

  @include media(lg) {
    padding: 1em;
  }
}
