.main-info {
  display: flex;
  gap: 1.5em;

  &__column {
    &--content-gallery-map {
      flex: auto;
      max-inline-size: min(40em, 45%);
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      @include media(xl, max) {
        max-inline-size: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
      }
    }

    &--content-data {
      flex: auto;
      max-inline-size: min(35em, 40%);
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      @include media(xl, max) {
        gap: 1em;
        max-inline-size: unset;
        flex: 1 1 min(18em, 100%);
      }
    }

    &--content-asside {
      flex: auto;
      @include media(xl, max) {
        flex: 1 1 min(18em, 100%);
      }
    }
  }

  &__column-item {
    min-inline-size: 0;
    @include media(xl, max) {
      flex: 1 1 min(18em, 100%);
    }
  }

  @include media(xl, max) {
    flex-wrap: wrap;
    gap: 1em;
  }
}
