.main-info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    flex: auto;

    &--content-gallery-map {
      max-inline-size: min(40em, 42%);

      @include media(xl, max) {
        max-inline-size: 100%;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &--content-data {
      max-inline-size: min(35em, 33%);

      @include media(xl, max) {
        max-inline-size: unset;
        flex: 1 1 min(18em, 100%);
      }
    }

    &--content-asside {
      max-inline-size: min(18em, 25%);

      @include media(xl, max) {
        max-inline-size: unset;
        flex: 1 1 min(18em, 100%);
      }
    }

    @include media(sm) {
      gap: 1.5em;
    }
  }

  &__column-item {
    min-inline-size: 0;
    @include media(xl, max) {
      flex: 1 1 min(18em, 100%);
    }
  }

  @include media(xl) {
    gap: 1.5em;
  }

  @include media(xl) {
    flex-wrap: nowrap;
  }
}
