.accordion {
  &__button {
    @extend %reset-btn;
    text-align: left;
    padding: 0.5em 0;
    gap: 1em;
    transition:
      color 0.35s,
      transform 0.15s;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--text-color, #272b37);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__button-text {
    line-height: 1.4;
    font-variation-settings: 'wght' 700;
  }

  &__button-icon {
    display: inline-block;
    min-inline-size: 1.5em;
    max-inline-size: 1.5em;
    @include box(1.25em);
    vertical-align: middle;
    color: inherit;
  }

  &__section {
    display: none;

    &--indent-start {
      padding-inline-start: 1em;
    }
  }

  &--opened {
    & > .accordion__section {
      display: block;
    }
    & > .accordion__button .accordion__button-icon {
      transform: scaleY(-1);
    }
  }

  &--theme-lower {
    .accordion__button {
      padding-block: 0.25em;
      gap: 0.5em;
      color: var(--text-lower-color, #a7aab4);
    }

    .accordion__button-text {
      font-variation-settings: 'wght' 400;
      font-size: 0.875em;
    }

    .accordion__button-icon {
      @include box(1em);
    }
  }
}
