.checkbox {
  cursor: pointer;

  &__input {
    @extend %reset-checkbox;
    @include box(1.875em);
    min-inline-size: 1.875em;
    max-inline-size: 1.875em;
    margin: 0;
    border-radius: 4px;
    vertical-align: middle;

    &::before {
      content: '';
      display: block;
      inline-size: inherit;
      block-size: inherit;
      border-radius: inherit;
      background-color: var(--border-color, #c2c5cb);
      outline: 2px solid transparent;
      outline-offset: -2px;
      transition: 0.35s;
    }

    &:hover::before {
      outline-color: var(--main-color, #e22b36);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible::before {
      outline-color: var(--main-color, #e22b36);
    }

    &:checked::before {
      background-color: var(--main-color, #e22b36);
    }
  }

  &__label {
    font-variation-settings: 'wght' 500;
    font-size: var(--text-font-sm, 0.875em);
    cursor: pointer;
  }
}
