.preloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(18px);
  background-color: rgba(0, 0, 0, 0.4);

  &--place-page {
    position: fixed;
    z-index: 200;
  }

  &__chasing-squares {
    width: 4.25em;
    height: 4.25em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
  }

  &__square {
    display: inline-block;
    width: 2em;
    height: 2em;
    opacity: 1;
    background-color: #fff;
    animation: focus-fade 2.8s infinite;

    &:nth-child(2) {
      animation-delay: 0.7s;
    }

    &:nth-child(3) {
      animation-delay: 2.1s;
    }

    &:nth-child(4) {
      animation-delay: 1.4s;
    }
  }
}

@keyframes focus-fade {
  0% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.7;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}
