:root {
  --grey-800: #272B37;
  --grey-700: #42454D;
  --grey-600: #595D69;
  --grey-500: #717684;
  --grey-400: #8B909C;
  --grey-300: #A7AAB4;
  --grey-200: #C2C5CB;
  --grey-100: #DEDFE3;
  --white: #fff;

  --skeleton-gradient: linear-gradient(90deg, var(--grey-300) 0%, var(--grey-100) 50%, var(--grey-300) 100%);
  --bg-color: var(--white);
  --bg-secondary-color: var(--grey-100);
  --bg-blur-color: rgb(255 255 255 / 0.8);

  --main-color: #E22B36;
  --main-color-hover: #C11A24;
  --secondary-color: #4674FF;

  --text-color: var(--grey-800);
  --text-low-color: var(--grey-600);
  --border-color: var(--grey-200);
  --icon-color: var(--grey-400);
  --error-color: #f14242;

  --font-family: Montserrat, sans-serif;

  --display-font: 2.5em;
  --heading-font-xl: 2em;
  --heading-font-lg: 1em;
  --text-font-md: 1em;
  --text-font-sm: 0.875em;

  --box-radius: 12px;
  --box-shadow-sm: 0 0 2px rgb(100 112 103 / 0.25);
  --box-shadow-md: 0 0 4px rgb(100 112 103 / 0.25);
  --box-shadow-selected: 0 0 0 4px rgba(var(--main-color-opacity), 0.5);
}