:root {
  --grey-800: #272b37;
  --grey-700: #42454d;
  --grey-600: #595d69;
  --grey-500: #717684;
  --grey-400: #8b909c;
  --grey-300: #a7aab4;
  --grey-200: #d9d9d9;
  --grey-100: #f3f4f6;
  --white: #fff;

  --skeleton-gradient: linear-gradient(
    90deg,
    var(--grey-300) 0%,
    var(--grey-100) 50%,
    var(--grey-300) 100%
  );
  --bg-color: var(--white);
  --bg-secondary-color: var(--grey-100);
  --bg-tetriary-color: var(--grey-200);
  --bg-blur-color: rgb(255 255 255 / 0.8);

  --main-color: #e22b36;
  --main-color-hover: #c11a24;
  --secondary-color: #4674ff;

  --text-color: var(--grey-800);
  --text-low-color: var(--grey-600);
  --text-lower-color: var(--grey-300);
  --text-accent-color: var(--white);
  --border-color: var(--grey-200);
  --icon-color: var(--grey-400);
  --icon-accent-color: var(--white);
  --error-color: #f14242;

  --font-family: Montserrat, sans-serif;

  --display-font: clamp(1.5rem, -0.2586rem + 2.2989vw, 2.5rem);
  --heading-font-xl: 1.25em;
  --text-font-md: 1em;
  --text-font-sm: 0.875em;

  --box-radius: 12px;

  --vertical-chart-main-color: #ed7d31;
  --vertical-chart-critical-color: #272b37;
  --vertical-chart-high-color: #e22b36;
  --vertical-chart-medium-color: #fbfc0a;
  --vertical-chart-low-color: #0071c1;

  @include media(xl) {
    --heading-font-xl: 2em;
  }
}
