.search {
  position: relative;
  z-index: 20;

  &__form {
    flex: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75em;

    &--single-row {
      justify-items: end;
      grid-template-columns: 1fr;

      .search__reset-button {
        grid-column: unset;
      }
    }

    @include media(sm) {
      gap: 1em;
    }

    @include media(md) {
      &--single-row {
        grid-template-columns: 1fr auto;
      }
    }

    @include media(xxl) {
      grid-template-columns: 1fr auto;
    }
  }

  &__result-container {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }

  &__result-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0.5em;
  }

  &__result-title {
    flex: none;
    font-size: 1.25em;
    font-variation-settings: 'wght' 700;

    @include media(sm) {
      font-size: 1.5em;
    }
  }

  &__result-text {
    flex: auto;
    font-size: 0.875em;
    line-height: 1.5;
    @include media(sm) {
      font-size: 1em;
    }
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    gap: 0.75em;

    &--content-title {
      grid-column: 1/-1;

      @include media(xxl) {
        grid-column: unset;
      }
    }

    @include media(sm) {
      gap: 1em;
    }

    @include media(md) {
      flex-wrap: nowrap;
    }
  }

  &__heading {
    flex-grow: 0;
    min-inline-size: 100%;
    @include media(md) {
      min-inline-size: unset;
    }
  }

  &__button {
    // &--place-title {}

    @include media(sm, max) {
      flex: 1 1 calc(100% / 2 - 1em);
    }

    @include media(xl) {
      &--place-title {
        inline-size: 13rem;
      }
    }
  }

  &__reset-button {
    font-variation-settings: 'wght' 600;
    grid-column: 1/-1;
    justify-self: start;
    @include media(xxl) {
      justify-self: end;
    }
  }

  &__field {
    flex: auto;

    @include media(sm) {
      max-inline-size: 20em;
    }
  }

  // Выпадающий список
  &__filter {
    flex: none;
    position: relative;

    &--opened .search__filter-container {
      display: flex;
    }

    @include media(xxl) {
      position: static;
    }
  }

  &__filter-button {
    @include box(2.5em);
    padding: 0.5em;
    color: var(--main-color, #e22b36);
    border-radius: 6px;
    &:hover {
      color: var(--text-color, #272b37);
    }
  }

  &__filter-container {
    position: fixed;
    inset: 0;
    background: #fff;
    overflow: hidden;

    padding: 0.75em;
    display: none;
    flex-direction: column;
    gap: 0.75em;

    // &--place-main-search {}

    @include media(sm) {
      gap: 1em;
      padding: 1.5em;
      position: absolute;
      inset: 100% 0 auto auto;
      margin-block-start: 1em;
      min-inline-size: min(75vw, 35em);
      max-block-size: 70vh;
      box-shadow: var(--card-shadow, 0px 0px 50px #00000040);
      border-radius: var(--card-radius, 20px);

      &--place-main-search {
        max-block-size: 80vh;
      }
    }

    @include media(md) {
      min-inline-size: min(50vw, 35em);
    }

    @include media(xxl) {
      min-inline-size: min(33vw, 40em);
    }
  }

  &__filter-title {
    flex: none;
    font-size: var(--display-font-sm, 1.875em);
    font-variation-settings: 'wght' 800;
  }

  &__filter-close-button {
    position: absolute;
    z-index: 1;
    inset: 0.75em 0.75em auto auto;
    @include box(1.5em);
    color: var(--text-low-color, #a7aab4);

    @include media(sm) {
      inset: 1.875em 1.25em auto auto;
    }
  }

  &__filter-body {
    flex: auto;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 0.625em;
  }

  &__filter-field-group {
    display: flex;
    gap: 0.625em;
    flex-wrap: wrap;
  }

  &__filter-field {
    flex: 1 1 min(20em, 40%);
  }

  &__filter-caption {
    font-size: 1em;
    font-variation-settings: 'wght' 700;

    @include media(sm) {
      font-size: 1.25em;
    }
  }

  &__filter-desc {
    font-size: var(--text-font-sm, 0.875em);
  }

  &__filter-controls {
    flex: none;
    display: flex;
    gap: 0.625em;

    & > * {
      flex: auto;
    }
  }
}
