.search {
  position: relative;
  z-index: 10;

  &__form {
    flex: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;

    @include media(xxl) {
      grid-template-columns: 1fr auto;
      gap: 0 1em;
    }
  }

  &__result-container {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }

  &__result-item {
    // flex: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5em;

    @include media(sm) {
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }

  &__result-title {
    flex: none;
    font-size: 1.5em;
    font-variation-settings: 'wght' 700;
  }

  &__result-text {
    flex: auto;
    line-height: 1.5;
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    &--content-title {
      grid-column: 1/-1;

      @include media(xxl) {
        grid-column: unset;
      }
    }

    &--single-row {
      justify-self: end;
      grid-column: 1/-1;
    }

    @include media(md) {
      flex-wrap: nowrap;
    }
  }

  &__heading {
    flex: auto;
    min-inline-size: 100%;
    @include media(md) {
      min-inline-size: unset;
      flex: none;
    }
  }

  &__button {
    flex: 1 1 calc(100% / 2 - 1em);
    inline-size: unset;

    // &--place-title {}

    @include media(xs) {
      flex: auto;
    }

    @include media(sm) {
      flex: none;
    }

    @include media(xl) {
      &--place-title {
        inline-size: 13rem;
      }
    }
  }

  &__reset-button {
    font-variation-settings: 'wght' 600;
    inline-size: unset;
    grid-column: 1/-1;
    justify-self: start;
    @include media(xxl) {
      justify-self: end;
    }
  }

  &__field {
    flex: auto;

    @include media(xs) {
      flex: 1 1 10em;
      max-inline-size: 20em;
    }
  }

  // Выпадающий список
  &__filter {
    flex: none;
    position: relative;

    &--opened .search__filter-container {
      display: flex;
    }

    @include media(xxl) {
      position: static;
    }
  }

  &__filter-button {
    @include box(2.5em);
    padding: 0.5em;
    color: var(--main-color, #e22b36);
    border-radius: 6px;
    &:hover {
      color: var(--text-color, #272b37);
    }
  }

  &__filter-container {
    position: fixed;
    inset: 0;
    background: #fff;
    overflow: hidden;

    padding: 1.5em 0.5em 1.5em 1.5em;
    display: none;
    flex-direction: column;
    gap: 1em;

    @include media(xs) {
      position: absolute;
      inset: 100% 0 auto auto;
      margin-block-start: 1em;
      min-inline-size: min(75vw, 35em);
      max-block-size: 75vh;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }

    @include media(md) {
      min-inline-size: min(50vw, 35em);
    }

    @include media(xxl) {
      min-inline-size: min(33vw, 40em);
    }
  }

  &__filter-title {
    flex: none;
    font-size: 1.875em;
    font-variation-settings: 'wght' 800;
  }

  &__filter-close-button {
    position: absolute;
    z-index: 1;
    inset: 1.875em 1.25em auto auto;
    @include box(1.5em);
    color: var(--text-low-color, #a7aab4);
  }

  &__filter-body {
    flex: auto;
    overflow-y: auto;
    padding-inline-end: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.625em;
  }

  &__filter-field-group {
    display: flex;
    gap: 0.625em;
    flex-wrap: wrap;
  }

  &__filter-field {
    flex: auto;
  }

  &__filter-caption {
    font-size: 1.25em;
    font-variation-settings: 'wght' 700;
  }

  &__filter-desc {
    font-size: 0.875em;
  }

  &__filter-controls {
    flex: none;
    display: flex;
    gap: 0.625em;
    padding-inline-end: 1em;
  }
}
