.sport-icon {
  color: inherit;

  &::before {
    content: '';
    background-color: currentColor;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    inline-size: 100%;
    block-size: 100%;
  }

  @for $i from 1 through 600 {
    &--id-#{$i}::before {
      mask-image: url('../images/sport-icons.svg##{$i}');
    }
  }
}
