.card {
  inline-size: 100%;
  background-color: var(--bg-color, #fff);
  padding: 0.75em;
  border-radius: 10px;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75em;
    margin-block-end: 1em;
  }

  &__tag {
    display: inline-block;
    text-align: center;
    padding: 0.625rem;
    font-size: 0.875em;
    font-variation-settings: 'wght' 800;
    color: #fff;
    background-color: var(--main-color, #e22b36);
    border-radius: var(--box-radius, 12px);
  }

  &__date {
    font-size: 0.875em;
    color: var(--grey-200, #c2c5cb);
  }

  &__icon-button {
    margin-inline-start: auto;
  }

  &__body {
    &--content-main-info {
      display: grid;
      gap: 1.5em;
      grid-template-columns: 0.7fr 0.6fr 0.4fr;
    }
  }

  &__data {
    grid-row: span 2;
  }

  @include media(lg) {
    padding: 1.5em;
    border-radius: 25px;
  }
}
