.field {
  &__label {
    display: inline-block;
    padding-block-end: 0.5em;
    font-variation-settings: 'wght' 700;
    @include media(xl) {
      font-size: 1.25em;
    }
  }

  &__label-icon {
    display: inline-block;
    position: absolute;
    inset: 0 auto auto 0.75em;
    pointer-events: none;

    @include box(1.5em);
    inset-block-start: 0.875em;

    & + .field__input {
      padding-inline-start: 2.5em;
    }
  }

  &__select-arrow {
    display: inline-block;
    position: absolute;
    inset: 0 0.75em auto auto;
    pointer-events: none;

    @include box(1.5em);
    inset-block-start: 0.875em;

    & + .field__input {
      padding-inline-end: 2.5em;
    }
  }

  &__inner {
    display: grid;
    position: relative;
  }

  &__input {
    @extend %reset-input;
    grid-area: 1/1/2/2;
    padding: 1em 0.625rem;
    font-size: inherit;
    color: inherit;
    font-variation-settings: 'wght' 400;
    background-color: #fff;
    border: 1px solid var(--border-color, #c2c5cb);
    border-radius: var(--box-radius, 12px);
    outline-offset: -2px;

    @include placeholder {
      color: var(--text-low-color, #595d69);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--main-color, #e22b36);
    }
  }

  &__select {
    @extend .field__input;
  }

  &__error-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 0.875em;
    padding-inline-start: 0.625rem;
    color: var(--error-color, #f14242);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition:
      visibility 0s 0.35s,
      opacity 0.35s;
    grid-area: 1/1/2/2;
  }

  &--size-sm {
    .field__input {
      font-size: 0.875em;
      padding: 0.75em 0.5em;
    }

    .field__label-icon {
      @include box(1em);
      inset-block-start: 0.75em;

      & + .field__input {
        padding-inline-start: 2.5em;
      }
    }

    .field__select-arrow {
      @include box(1em);
      inset-block-start: 0.75em;

      & + .field__input {
        padding-inline-end: 2.5em;
      }
    }
  }

  &--size-lg {
    .field__input {
      font-size: 1.25em;
      padding-block: 0.75em;

      @include media(xl) {
        font-size: 1.875em;
        padding: 1rem 0.625rem;
      }
    }
  }

  &--theme-grey {
    .field__input {
      background-color: var(--bg-secondary-color, #f3f4f6);
      border-color: var(--bg-secondary-color, #f3f4f6);

      &:focus-visible {
        outline: 2px solid var(--text-low-color, #595d69);
      }
    }
  }

  &--state-error {
    .field__input {
      border-color: var(--error-color, #f14242);
    }
    .field__error-text {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition:
        visibility 0s,
        opacity 0.35s;
      grid-area: unset;
    }
  }

  &--state-disabled {
    color: var(--text-accent-color, #ffffff);
    .field__input {
      pointer-events: none;
      user-select: none;
      background-color: var(--bg-tetriary-color, #d9d9d9);
    }
  }
}
