.field {
  &__label {
    display: inline-block;
    padding-block-end: 0.5em;
    font-variation-settings: 'wght' 700;
    @include media(xl) {
      font-size: 1.25em;
    }
  }

  &__inner {
    display: grid;
  }

  &__input {
    @extend %reset-input;
    grid-area: 1/1/2/2;
    padding: 1em 0.625rem;
    font-size: inherit;
    font-variation-settings: 'wght' 400;
    background-color: #fff;
    border: 1px solid var(--border-color, #c2c5cb);
    border-radius: var(--box-radius, 12px);

    @include placeholder {
      color: var(--text-low-color, #595d69);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--main-color, #e22b36);
    }
  }

  &__error-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 0.875em;
    padding-inline-start: 0.625rem;
    color: var(--error-color, #f14242);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition:
      visibility 0s 0.35s,
      opacity 0.35s;
    grid-area: 1/1/2/2;
  }

  &--size-lg {
    .field__input {
      font-size: 1.25em;
      padding-block: 0.75em;

      @include media(xl) {
        font-size: 1.875em;
        padding: 1rem 0.625rem;
      }
    }
  }

  &--state-error {
    .field__input {
      border-color: var(--error-color, #f14242);
    }
    .field__error-text {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition:
        visibility 0s,
        opacity 0.35s;
      grid-area: unset;
    }
  }
}
