.map {
  display: block;
  @include box(100%, auto);
  object-fit: cover;
  background-color: var(--bg-secondary-color, #dedfe3);

  &--content-main-info {
    border-radius: 20px;
    aspect-ratio: 650/400;
  }
}
