.map {
  display: block;
  @include box(100%, auto);
  object-fit: cover;
  background-color: var(--bg-secondary-color, #f3f4f6);
  border-radius: var(--card-radius, 12px);
  aspect-ratio: 650/400;

  // &--content-main-info {}
}
