.header {
  background-color: var(--bg-color, #ffffff);
  border-radius: var(--card-radius, 20px);
  padding: 0.75em;
  display: flex;
  align-items: center;
  gap: 1em;

  position: relative;
  z-index: 10;

  // &__logo-link {}

  &__logo {
    display: block;
    inline-size: 7.5em;
    @include media(lg) {
      inline-size: min(90%, 18em);
    }
  }

  &__menu {
    flex: auto;

    @include media(lg, max) {
      position: absolute;
      inset: calc(100% + 0.25em) 0 auto auto;
      padding: 0.75em;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
      background-color: var(--bg-color, #ffffff);

      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      user-select: none;
      transition:
        visibility 0s 0.35s,
        opacity 0.35s;
    }

    @include media(xs, max) {
      inset: calc(100% + 0.25em) 0 auto 0;
    }
  }

  &__menu-list {
    @extend %reset-list;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }

  &__menu-button {
    inline-size: 14em;
  }

  &__menu-item {
    display: block;

    &--content-exit {
      color: var(--text-lower-color, #a7aab4);
      margin-block-start: auto;

      .header__menu-link-text {
        font-variation-settings: 'wght' 400;
      }
      .header__menu-link-icon {
        color: inherit;
      }
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
    padding: 0.25em;
    font-size: 0.875em;
    font-variation-settings: 'wght' 800;
    transition: color 0.35s;

    &:hover {
      color: var(--main-color, #e22b36);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--text-color, #272b37);
    }
    &--actived {
      color: var(--main-color, #e22b36);
      // pointer-events: none;
    }
  }

  &__menu-link-icon {
    flex: none;
    @include box(1.875em);
    min-inline-size: 1.875em;
    max-inline-size: 1.875em;
    color: var(--text-color, #272b37);
  }

  &__menu-link-text {
    flex: auto;
  }

  &__mobile-menu-button {
    @extend %reset-btn;
    padding: 0.5em 0.25em;
    @include box(2em);
    transition: 0.35s;
    cursor: pointer;

    display: flex;
    margin-inline-start: auto;

    @include media(lg) {
      display: none;
    }
  }

  &__mobile-menu-button-item {
    margin: auto;

    position: relative;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.35s;

    &:before,
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      width: 100%;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
    }
    &::before {
      top: 10px;
    }
  }

  &--opened {
    z-index: 30;

    .header__menu {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      user-select: auto;
      transition:
        visibility 0s,
        opacity 0.35s;
    }

    .header__mobile-menu-button-item {
      transform: rotate(135deg);

      &::before,
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  @include media(sm) {
    padding: 1.5em;
  }

  @include media(lg) {
    inline-size: min(19em, 80vw);
    flex-direction: column;
    align-items: stretch;
  }
}
