.gallery-slider {
  // &__track {}

  // &__list {}

  // &__slide {}

  &__arrow {
    @include box(2.5em);
    border-radius: 0;
    background-color: #fff;
    opacity: 1;

    svg {
      color: inherit;
    }

    &--prev {
      left: 1.5em;
    }
    &--next {
      right: 1.5em;
    }
  }

  &__item {
    position: relative;
    aspect-ratio: 650/400;
  }

  &__icon {
    position: absolute;
    @include box(2em);
    inset: 1em 1em auto auto;
    color: #fff;
  }

  &__image {
    display: block;
    @include box(100%);
    object-fit: cover;
    border-radius: 20px;
  }
}
