.gallery-slider {
  // &__track {}

  // &__list {}

  // &__slide {}

  &__arrow {
    @include box(2.5em);
    border-radius: 0;
    background-color: #fff;
    opacity: 1;

    svg {
      color: inherit;
    }

    &--prev {
      left: 1em;
    }
    &--next {
      right: 1em;
    }
  }

  &--size-arrow-sm .gallery-slider__arrow {
    @include box(1.875em);
  }
}
