.gallery-slider {
  // &__track {}

  // &__list {}

  // &__slide {}

  &__arrow {
    @include box(2.5em);
    border-radius: 0;
    background-color: #fff;
    opacity: 1;

    svg {
      color: inherit;
    }

    &--prev {
      left: 1.5em;
    }
    &--next {
      right: 1.5em;
    }
  }

  &__item {
    position: relative;
    aspect-ratio: 650/400;
  }

  &__item-panel {
    position: absolute;
    inset: 1em 1em auto auto;
    display: flex;
    gap: .5em;
    align-items: center;
    color: #fff;
  }

  &__item-label {
    font-variation-settings: 'wght' 700;
  }
  &__item-icon {
    @include box(2em);
  }

  &__item-image {
    display: block;
    @include box(100%);
    object-fit: cover;
    border-radius: 20px;
  }
}
